@use "sass:math";

// デザインカンプ
// pc
// sp

// インナー幅設定
$inner-pc: 1000;
$inner-sp: 540;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25;
$padding-sp: 20;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

////////////////////
// フォント設定
////////////////////

$base-font-family: "Zen Kaku Gothic New", sans-serif;
$en-font-family: "Antonio", sans-serif;
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;


//色指定（共通性のあるものは出来る限り指定すると良い）
$color-base: #45484D;
$color-primary: #0052CC;
$color-secondary: #E0E8F0;

$color-text: #45484D;
$white: #fff;
$blue: #004EA8;
